.novaIniziale{
    width: 100%;
    background-color: 		#151522;
    margin-top: -8px;
    margin-left: -8px;
    padding-top: 0%;
    color: white;
    border: 2px black solid;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    gap: 55px;
    
}

.primeCaselle{

    width: 315px;
    background-color: 	#1D1B2B;
    margin-top: 0%;
    margin-left: 0px;
    border: 1px solid black;
    text-align: center;
    color: white;
    text-shadow:2cm black;

}

.primeCaselle:hover{

    background-color: #351B52;
    color: white;

}

.DivCaselle{

    margin-left: -8px;
    padding: 0px;
    display: flex;
    

}

a {
  text-decoration: none;
  color: inherit;
}



body{
    background: linear-gradient(
    135deg,
    #7C3AED 0%,
    #4F46E5 50%,
    #00A8C6 100%
);

}

.paginaPrincipale{

    color: #F2EFF5;
    position: relative;

}

.paginaPrincipale img {
    width: 100%;
}

.testo1 {
    position: absolute;
    z-index: 2;

    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 100px;

    color: white;
}

.testo2{
    position: absolute;
    z-index: 2;
    top: 30%;
    left: 10%;
    color: white;
    font-size: 50px;
}

.scrittaGrande{

    font-size: 100px;
    text-align: center;
    color: antiquewhite;

}

.sottotitolo{

    font-size: 50px;
    text-align: center;
    color: antiquewhite;

}

.paragrafo{

    color: antiquewhite;
    text-align: center;

}



.stats {
    width: 800px;
    height: 100px;
    background-color: rgba(53, 27, 82, 0.5);
    border: 1px solid rgba(99, 47, 138, 0.8);
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;

    backdrop-filter: blur(8px);
    box-shadow: 0 0 25px rgba(81, 40, 120, 0.25);
}

.stat h2 {
    color: #F2EFF5;
    font-size: 45px;
    margin: 0;
}

.stat p {
    color: #9e6bc5;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 8px;
}
